@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Nanum+Pen+Script&family=Questrial&family=Teko:wght@300..700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #1b1b1b;
  --foreground: #ededed;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}